.userMaintenanceCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.userMaintenanceCard1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.roleCard {
  float: right;
  padding: 20px;
}

.footer_btn_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  justify-content: center;
  padding: 20px;
}

/* .right {
  float: left !important;
} */
.ant-upload.ant-upload-select-picture-card {
  width: 207px !important;
  height: 65px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  background-color: #ffff !important;
  border: 0px dashed #d9d9d9 !important;
}

.modal-content {
  width: 750px !important;
  margin-left: -100px !important;
  margin-top: 50px !important;
}