.search-box {
  position: absolute;
  top: 13%;
  left: 75%;
  transform: translate(-50%, -50%);
  height: 40px;
  background: #ffff;
  line-height: 20px;
  padding: 5px;
  border-radius: 60px;
}
.search-input {
  background: #ffff;
  color: rgb(109, 102, 102);
  outline: none;
  border: none;
  line-height: 20px;
  width: 0px;
  float: left;
  font-size: 14px;
  transition: 0.7s ease;
  font-family: sans-serif;
}
.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #ffff;
  padding: 5px;
  border-radius: 50%;
  float: right;
  color: #ff5722;
  transition: 0.4s ease;
}
.search-box:hover > .search-input {
  width: 240px;
  margin: 0px 5px;
}
.search-input:focus {
  width: 240px;
  margin: 0px 5px;
}
.search-box:hover > .search-btn {
  background: #fff;
}
.search-input:focus + .search-btn {
  background: #fff;
}
