.notification_switch {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  justify-content: center;
  width: 100%;
}

.label {
  font-size: larger;
  font-weight: 600;
  color: rgb(0 0 0 / 64%);
}
